<nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/faq">FAQ</a></li>
      <li><a href="/resume-examples">Resume Examples</a></li>
      <li><a href="/about">About Us</a></li>
      <li class="right"><a href="/auth/login">My Account</a></li>
    </ul>
  </nav>
  