<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('partials/head'); %>
</head>
<body>
  <%- include('partials/navbar'); %>

  <header>
    <h1>Welcome to Career Elevate</h1>
    <p>Your one-stop solution for crafting the perfect resume.</p>
    <button onclick="window.location.href='/get-started'">Get Started</button>
  </header>

  <%- include('partials/footer'); %>
</body>
</html>
